<form>
  <div>
    <label>Number 1:</label>
    <input type="number" name="firstNumber">
  </div>
  <div>
    <label>Number 2:</label>
    <input type="number" name="secondNumber">
  </div>
  <div>
    <button type="button" id="multiply">Multiply</button>
  </div>
  <div id="result"></div>
</form>
<script>

  // var display = document.querySelector('#result').innerHTML;

  document.querySelector("#multiply").addEventListener("click", function(){
    var input1  = document.querySelector('[name="firstNumber"]').value;
    var input2  = document.querySelector('[name="secondNumber"]').value;
    
    printResult(input1*input2);
  
  } );

  
  function printResult(uitkomst){
    document.querySelector('#result').innerHTML = uitkomst;
    // console.log(uitkomst);
  }

</script>
